<div class="method_space border rounded p-3 mt-3">
  <v-row>
    <v-col cols="6" md="3" lg="2">
      <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "東京"}} )do %>
        <v-card max-width="200px">
          <v-img class="text-center white--text align-end" src="<%= asset_path "tokyo.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
            <v-card-title class="font-weight-bold">東京</v-card-title>
          </v-img>
        </v-card>
      <% end %>
    </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "大阪"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "osaka.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class="font-weight-bold">大阪</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "名古屋"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "nagoya.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class="font-weight-bold">名古屋</v-card-title>
            </v-img>
         </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "札幌"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "sapporo.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class="font-weight-bold">札幌</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "仙台"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "sendai.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class="font-weight-bold">仙台</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "福岡"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "fukuoka.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class="font-weight-bold">福岡</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>


  </v-row>
</div>