<div class="method_space border rounded p-3 mt-3">
    <v-row>
      <v-col cols="6" md="3" lg="2">
        <v-card class=""  max-width="200">
          <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "ドリップ"}} )do %>
            <v-img class="text-center white--text align-end" src="/images/neldrip.jpg" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>ドリップ</v-card-title>
              </v-img>
          <% end %>
        </v-card>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <v-card class=""  max-width="200">
          <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "エスプレッソ"}} )do %>
            <v-img class="text-center white--text align-end" src="/images/espresso.jpg" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>エスプレッソ</v-card-title>
              </v-img>
          <% end %>
        </v-card>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <v-card class=""  max-width="200">
          <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "フレンチプレス "}} )do %>
            <v-img class="text-center white--text align-end" src="/images/frenchpress.jpg" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>フレンチプレス </v-card-title>
              </v-img>
          <% end %>
        </v-card>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <v-card class=""  max-width="200">
          <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "エアロプレス"}} )do %>
            <v-img class="text-center white--text align-end" src="/images/aeropress.jpg" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>エアロプレス</v-card-title>
              </v-img>
          <% end %>
        </v-card>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <v-card class=""  max-width="200">
          <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "水出し"}} )do %>
            <v-img class="text-center white--text align-end" src="/images/coldbrew.jpg" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>水出し</v-card-title>
              </v-img>
          <% end %>
        </v-card>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <v-card class=""  max-width="200">
          <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "サイフォン"}} )do %>
            <v-img class="text-center white--text align-end" src="/images/syphon.jpg" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>サイフォン</v-card-title>
              </v-img>
          <% end %>
        </v-card>
      </v-col>

    </v-row>
</div>