<div class="method_space border rounded p-3 mt-3">
    <v-row>
      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "ドリップ"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "neldrip.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>ドリップ</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "エスプレッソ"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "espresso.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>エスプレッソ</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "フレンチプレス "}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "frenchpress.jpg"%>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>フレンチプレス </v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "エアロプレス"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "aeropress.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>エアロプレス</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "水出し"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "coldbrew.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>水出し</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

      <v-col cols="6" md="3" lg="2">
        <%= link_to({controller: "shops", action: "index", q: { tags_tag_name_cont: "サイフォン"}} )do %>
          <v-card max-width="200px">
            <v-img class="text-center white--text align-end" src="<%= asset_path "syphon.jpg" %>" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
              <v-card-title class=™font-weight-bold™>サイフォン</v-card-title>
            </v-img>
          </v-card>
        <% end %>
      </v-col>

    </v-row>
</div>