<% provide(:title, 'COFFEE ANYWHERE') %>


  <template>
    <v-app>

      <div class="home">
        <div class="home-header mt-n3">
            <% flash.each do |message_type, message| %>
              <div class="flash alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
          <h2 class="d-lg-block d-none display-3">好みの一杯を</h2>
          <!--<h2 class="d-block d-md-none">好みの一杯を</h2>-->
          <%= render 'shops/search_form' %>
        </div>

            <div class="method">
              <v-tabs color="amber">
                <v-tab class='headline text-dark body-2'>淹れ方</v-tab>
                  <v-tab-item>
                    <%= render 'methods' %>
                  </v-tab-item>
                <v-tab class='headline text-dark body-2'>条件</v-tab>
                  <v-tab-item>
                    <div class="border rounded p-3 px-4 mt-3">
                      <div class="row flex h4">
                        <% @tags_for_search.each do |tag| %>
                          <%= link_to({controller: "shops", action: "index", q: { name_or_address_or_phone_number_or_description_or_tags_tag_name_cont: tag } })do %>
                            <div class="badge badge-light p-2 border border-secondary m-1"><%= tag %></div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </v-tab-item>
                <v-tab class='headline text-dark body-2'>地域</v-tab>
                  <v-tab-item>
                    <%= render 'area' %>
                  </v-tab-item>
              </v-tabs>
            </div>        

      </div><!--home-->

    </v-app>
  </template>
