<div class="home">
  <div class="home-header">
      <% flash.each do |message_type, message| %>
        <div class="flash alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <h2 class="d-md-block d-none display-3">好みの店で<br>好みの一杯を</h2>
    <h2 class="d-block d-md-none">好みの店で<br>好みの一杯を</h2>
    <%= render 'shops/search_form' %>
  </div>

  <div class="area">
    <h2 class="font-weight-bold">エリアで探す</h2>
    <div class="row justify-content-between flex">
      <%= render partial: 'area', locals: {keyword: '東京', area: 'tokyo'} %>
      <%= render partial: 'area', locals: {keyword: '大阪', area: 'osaka'} %>
      <%= render partial: 'area', locals: {keyword: '名古屋', area: 'nagoya'} %>
    </div>

    <div class="row justify-content-between flex">
      <%= render partial: 'area', locals: {keyword: '仙台', area: 'sendai'} %>
      <%= render partial: 'area', locals: {keyword: '札幌', area: 'sapporo'} %>
      <%= render partial: 'area', locals: {keyword: '福岡', area: 'fukuoka'} %>
    </div>
  </div>

  <div class="method">
    <h2 class="font-weight-bold my-5">淹れ方で探す</h2>

    <div class="row justify-content-between flex">
        <%= render partial: 'method', locals: { method: 'ネルドリップ', method_image: 'neldrip'} %>
        <%= render partial: 'method', locals: { method: 'エスプレッソ', method_image: 'espresso'} %>
        <%= render partial: 'method', locals: { method: 'フレンチプレス', method_image: 'frenchpress'} %>
        <%= render partial: 'method', locals: { method: 'エアロプレス', method_image: 'aeropress'} %>
        <%= render partial: 'method', locals: { method: '水出しコーヒー', method_image: 'coldbrew'} %>
        <%= render partial: 'method', locals: { method: 'サイフォン', method_image: 'syphon'} %>
    </div>

      <!--
          <% @tags.each do |tag| %>
            <div class="badge badge-light border"><%= tag.tag_name %></div>
          <% end %>
      -->

  </div>

  <!--<div class="show_right col-md-3 hidden-sm hidden-xs">reccomend</div>
    -->
  
</div>