<% provide(:title, 'COFFEE ANYWHERE') %>

<div class="home">
  <div class="home-header">
      <% flash.each do |message_type, message| %>
        <div class="flash alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <h2 class="d-md-block d-none display-3">好みの店で<br>好みの一杯を</h2>
    <h2 class="d-block d-md-none">好みの店で<br>好みの一杯を</h2>
    <%= render 'shops/search_form' %>
  </div>

  <div class="row mx-lg-n5">
  <% if logged_in? %>
    <div class="col">
  <% else %>
    <div class="col col-lg-10">
  <% end %>
      <div class="area">
        <h2 class="font-weight-bold">エリアで探す</h2>
        <div class="area_space border rounded px-3">
          <div class="row justify-content-between flex">
            <%= render partial: 'area', locals: {keyword: '東京', area: 'tokyo'} %>
            <%= render partial: 'area', locals: {keyword: '大阪', area: 'osaka'} %>
            <%= render partial: 'area', locals: {keyword: '名古屋', area: 'nagoya'} %>
          </div>

          <div class="row justify-content-between flex">
            <%= render partial: 'area', locals: {keyword: '仙台', area: 'sendai'} %>
            <%= render partial: 'area', locals: {keyword: '札幌', area: 'sapporo'} %>
            <%= render partial: 'area', locals: {keyword: '福岡', area: 'fukuoka'} %>
          </div>
        </div>
      </div>

      <div class="method">
        <h2 class="font-weight-bold mt-5">淹れ方で探す</h2>
        <div class="method_space border rounded p-3">
          <div class="row justify-content-between flex">
            <%= render partial: 'method', locals: { method: 'ドリップ', method_image: 'neldrip'} %>
            <%= render partial: 'method', locals: { method: 'エスプレッソ', method_image: 'espresso'} %>
            <%= render partial: 'method', locals: { method: 'フレンチプレス', method_image: 'frenchpress'} %>
            <%= render partial: 'method', locals: { method: 'エアロプレス', method_image: 'aeropress'} %>
            <%= render partial: 'method', locals: { method: '水出し', method_image: 'coldbrew'} %>
            <%= render partial: 'method', locals: { method: 'サイフォン', method_image: 'syphon'} %>
          </div>
         </div>

          <!--
              <% @tags.each do |tag| %>
                <div class="badge badge-light border"><%= tag.tag_name %></div>
              <% end %>
          -->

      </div>
    </div>

  <% unless logged_in? %>
    <div class="home_right d-none col-lg-2 d-lg-block p-0">
      <div class="register border rounded ml-3 p-3 mb-5">
        <p>アカウント登録で<br>・店舗ブックマーク<BR>・レビューの投稿<br>ができるようになります。</p>
        <div class="text-center">
          <%= link_to '会員登録',  signup_path, class: "btn btn-secondary mx-auto text-white w-100"  %>
        </div>
      </div>
      <%= render 'shared/easy_login' %>
    </div>
    <% end %>
  
  </div>

  
</div>

<!-- flashをフェードアウトさせる -->
<script>
  $(function() {
    setTimeout("$('.flash').fadeOut('slow')", 2000);
  });
</script>