<% provide(:title, 'パスワードリセット') %>
<% provide(:button_text, '送信') %>


<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="mt-5">パスワードリセット</h1>

    <%= form_with(url: password_resets_path, local: true, method: :post) do |f| %>

      <%= f.label :email, "メールアドレス", class: "mt-5" %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.submit yield(:button_text), class: "btn btn-dark mt-5" %>

    <% end %>

  </div>
</div>

<!-- ↓コントローラー側でif @userで条件を分けてる -->
<% unless @user %>
  <%= javascript_pack_tag 'password_resets/new_render' %>
<% end %>