<%= form_with(model:@shop, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name, "店名" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :image, "画像" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>

  <%= f.label :adddress, "住所" %>
  <%= f.text_field :address, class: 'form-control' %>

  <%= f.label :phone_number, "電話番号" %> (ハイフン 「-」 は付けないでください)
  <%= f.text_field :phone_number, class: 'form-control' %>

  <%= f.label :business_hours, "営業時間" %>
  <%= f.text_field :business_hours, class: 'form-control' %>

  <%= f.label :description, "説明" %>
  <%= f.text_field :description, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary " %>
<% end %>