<% provide(:title, 'レビュー一覧') %>

<div class="my-5">
  <h2><%= @shop.name %>のレビュー  (<%= @shop.reviews.count %>件のレビュー)</h2>
</div>

<p class="font-weight-bold h2 text-info"><%= @reviews.first.comments.first.user.name %></p>
<p class="font-weight-bold h2 text-info"><%= @reviews.first.comments.first.content %></p>

<% @reviews.each do |review| %>
  <%= render partial: 'shared/review', locals: { user: review.user, review: review }  %>
<% end %>

<%= will_paginate @reviews, list_classes: %w(pagination justify-content-center h3 mt-5), aria_label:  'Page Navigation' %>