<% provide(:title, @shop.name) %>

<div class="row">

  <div class="shop_show col-md-8 col-md-offset-2">

    <%= render 'shops/show/shop_header' %>

    <%= render 'shops/show/shop_description' %>

    <%= render 'shops/show/shop_tags' %>

    <%= render 'shops/show/shop_reviews' %>
    
    <%= render 'shops/show/shop_info' %>

  </div>

  <!--<div class="show_right col-md-3 hidden-sm hidden-xs">reccomend</div>
    -->
</div>