<div class="shop_header my-5 mx-3">
  <% if !current_user.nil? && current_user.admin? %>
    <!-- リロードしないとJavaScriptが動かない問題解決のため、turbolinks無効 -->
    <div class="btn btn-warning font-weight-bold px-4 mb-3"><%= link_to "編集", edit_shop_path(@shop), data: {"turbolinks" => false} %></div>
  <% end %>
  <div class="shop_title border-bottom row mb-5">
    <!--<v-row>-->
      <h2 class="font-weight-bold w-100"><%= @shop.name %></h2>
    <!--</v-row>-->
    <v-row>
      <v-col cols="9">
        <%= render partial: 'shared/average_rate', locals: { rate_ave: @rate_ave } %>
        <!--<div class="d-none d-md-block text-subtitle-1 mt-4 text-right">
          <%= link_to "<レビュー#{@shop.reviews.count}件>", reviews_shop_path %>
        </div>-->
      </v-col cols="3">
      <v-col class="text-right mr-5">
        <%= render 'shops/show/favorite' %>
        <%= link_to "<レビュー#{@shop.reviews.count}件>", reviews_shop_path, class: "d-none d-md-block my-1" %>
      </v-col>
      <!--<div class="info_right col text-right">
        <%= render partial: 'shared/average_rate', locals: { rate_ave: @rate_ave } %>
        <div class='row justify-content-end align-items-center mr-1'>
          <div class="d-none d-md-block text-subtitle-1 mt-4"><%= link_to "<レビュー#{@shop.reviews.count}件>", reviews_shop_path %></div>
          <%= render 'shops/show/favorite' %>
        </div>
      </div>-->
    </v-row>

  </div>

  <div class="shop_image">
    <% if @shop.image.attached? %>
      <%= image_tag @shop.display_image,  class: "image" %>
    <% else %>
      <%= image_tag("default_shop.jpg",  class: "image") %>
    <% end %>
  </div>
  
</div>