<div class="reviews py-5">
  <div class="border-bottom pb-3">
    <!-- countはdbのレコード数を数えるからformのためにbuildした1つはカウントされない -->
    <h3 class="d-inline">お店のレビュー(<%= @shop.reviews.count %>件)</h3>
    <% if logged_in? %>
      <%= render 'shops/show/shop_review_modal' %>
    <% end %>
  </div>

  <% if @shop.reviews.count == 0  %> 
    <!-- レビューがない -->
    <p class="h5 mt-4">レビューはまだありません。</p>
  <% elsif @shop.reviews.count >= 1 %>
    <!-- レビューが1件以上ある -->
    <%= render partial: 'shared/review', locals: { user: @shop.reviews.first.user, review: @shop.reviews.first }  %>

    <% if @shop.reviews.count >= 2 %>
      <!-- レビューが2件以上ある -->
      <%= render partial: 'shared/review', locals: { user: @shop.reviews.second.user, review: @shop.reviews.second }  %>

      <% if @shop.reviews.count >= 3 %>
        <!-- レビューが3件以上ある -->
        <div class="reviews_bottom pt-4 row">
          <span class="col text-right"><%= link_to '<レビューをもっと見る>', reviews_shop_path %></span>
        </div>
      <% end %>

    <% end %>

  <% end %>

</div>