 <%= form_with(model:@user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_field :name, placeholder: '名前', class: 'form-control mb-2' %>
  <%= f.email_field :email, placeholder: 'メールアドレス', class: 'form-control mb-2' %>
  <%= f.password_field :password, placeholder: 'パスワード', class: 'form-control mb-2' %>
  <%= f.password_field :password_confirmation, placeholder: 'パスワード確認', class: 'form-control mb-2' %>

  <% unless @user.id == nil %>
    <%= f.label :image, "アイコン画像" %>
    <span class="image">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "mb-5" %>
    </span>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-dark mt-2" %>
<% end %>
