<div class="user_header">
    <div class="user_header_image"></div>
    <div class="image_space d-flex justify-content-center align-items-center">
    <%= render partial: 'shared/user_image', locals: { user: @user, size: '100x100' } %>
    </div>

    <div class="user_info">
      <h5 class="font-weight-bold d-none d-sm-inline"><%= @user.name %></h5>
    </div>

    <nav>
        <ul class="navbar navbar-nav navbar-expand">
          <li class="border-left border-right d-none d-md-inline-block"><%= link_to 'ブックマーク', user_path(@user) %></li>
          <li class="border-left border-right d-inline-block d-md-none">
            <%= link_to user_path(@user) do %>
              <i class="far fa-bookmark"></i>
            <% end %>  
          </li>

          <li class="border-right d-none d-md-inline-block"><%= link_to 'レビュー', user_reviews_path(current_user) %></li>
          <li class="border-right d-inline-block d-md-none">
            <%= link_to user_reviews_path(current_user) do %>
              <i class="far fa-comment"></i>
            <% end %>
          </li>

          <li class="border-right d-none d-md-inline-block"><%= link_to '通知', user_notifications_path(current_user) %></li>
          <li class="border-right d-inline-block d-md-none">
            <%= link_to user_notifications_path(current_user) do %>
              <i class="far fa-bell"></i>
            <% end %>
          </li>
        </ul>
    </nav>
  </div>