<% provide(:title, 'ユーザー一覧') %>

<% provide(:title, 'All users') %>

<%= will_paginate @users, list_classes: %w(pagination justify-content-center h3 mt-5), aria_label:  'Page Navigation' %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= render partial: 'shared/user_image', locals: { user: user, size: '50x50' } %>
      <%= link_to user.name, user, class: "user_name" %>
      <%= link_to " <削除>", user, method: :delete, data: { confirm: "本当に削除しますか？" }, class:"ml-3 text-danger" %>
    </li>
  <% end %>
</ul>

<%= will_paginate @users, list_classes: %w(pagination justify-content-center h3 mt-5), aria_label:  'Page Navigation' %>