<% provide(:title, '新規登録') %>
<% provide(:button_text, '登録') %>

<div class="row mt-5">
  <div class="col-lg-7 offset-lg-1">
    <div class="login_left border rounded p-4 mt-5">
      <h1>ユーザー登録</h1>
      <%= render 'form' %>
    </div>
  </div>

  <div class="signup_right d-none col-lg-3 d-lg-block p-0 mt-5">
    <div class="register border rounded ml-3 p-5">
      <p>登録せずに試すにはこちら</p>
      <div class="text-center">
        <%= form_with(url:login_path, local: true) do |f| %>
          <%= f.hidden_field :email, value: 'testuser@example.com' %>
          <%= f.hidden_field :password, value: 'password' %>
          <%= f.submit 'お試しログイン', class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<% if @user.errors.any? %>
  <%= javascript_pack_tag 'users/signup_render' %>
<% end %>