<!--renderする時 locals: user, review
   render partial: 'shared/review', locals: { user: , review:  } 
-->
  
<div class="my_review border flex w-100 mt-5 rounded-lg">
  <div class="user_info w-100 pl-3 py-3 border-bottom d-flex">
    
    <% if user.image.attached? %>
      <%= image_tag user.display_image, :size => '45x45', class:"user_image" %>
    <% else %>
      <%= image_tag "default_user.jpg", :size => '45x45', class:"user_image" %>
    <% end %>

    <p class="d-inline-block ml-4 mr-auto my-auto h5"><%= user.name %>さんのレビュー</p>

      <% if logged_in? && current_page?(user_reviews_path(current_user)) %>
        <p class="d-inline-block ml-4 mr-4 my-auto h5">行ったお店: <span class="font-weight-bold"><%= link_to review.shop.name, shop_path(review.shop_id) %></span></p>
      <% end %>

      <!-- 「自分のレビュー」かまたは「adminユーザーである」なら削除可能 -->
      <% if logged_in? && review.user_id == current_user.id || logged_in? && current_user.admin? %>
        <div class="user_command">
          <%= link_to "[削除]", review, method: :delete, data: { confirm: "本当に削除しますか？" }, class:"mx-3 pt-4 text-danger" %>
        </div>
      <% end %>

  </div>
  <div class="review flex-column w-100">
    <p class="py-3 pl-3 mb-0"><%= review.created_at.strftime('%Y年%m月%d日') %></p>
    <h4 class="review_title h3 border-bottom pl-3 d-inline-block font-weight-bold">
      <%= review.title %>
    </h4>

    <div class='ml-3'>
      <%= render partial: 'shared/show_rate', locals: { review: review } %>
    </div>

    <!--text areaでの改行を反映-->
    <div class="review_cotent p-3">
      <%= safe_join(review.content.split("\n"), tag(:br)) %>
    </div>

    <!--コメント投稿-->
    <div class="comment">
      <%= form_with(model: review.comments.build, url: comments_path, local: true ) do |f| %>
        <%= f.text_area :content, row:2, placeholder: "コメントする", class: 'comment-form col-11' %>
        <%= f.submit '送信', class: 'comment-btn col-1 btn py-3' %>
        <%= hidden_field_tag :review_id, review.id %>
      <% end %>
    </div>

      <% review.comments.each do |c| %>
        <p class="py-3 mb-0 border-bottom">
          <span class="font-weight-bold mr-3"><%= c %></span> <!--ユーザーネームを出したい-->
          <%= c.content %>
          <% if logged_in? && c.user_id == current_user.id || logged_in? && current_user.admin? %>
            <span class="text-right"><%= link_to "[削除]", c, method: :delete, data: { confirm: "本当に削除しますか？" }, class:"mx-3 pt-4 text-danger" %></span>
          <% end %>
        </p>
      <% end %>



  </div>
</div>