<!--renderする時 locals: shop -->

<li>
  <%= render partial: 'shared/shop_image', locals: { size: '200x185', shop: shop } %>
  <div class="list_text">
    <div class="d-flex justify-content-between">
      <span><%= link_to shop.name, shop, class: "shop_name" %></span>
      <!--
      <% if !current_user.nil? && current_user.admin? %>
        <span class="btn btn-warning font-weight-bold px-4 mb-3"><%= link_to "編集", edit_shop_path(shop) %></span>
      <% end %>
      -->
      
    
      <div class='rate row justify-content-end align-items-center mr-1'>
        <div id="average_shop_<%= shop.id %>"></div>
        <div class="ave_rate pl-2"><%= if shop.reviews.length == 0
                                          rate_ave =  0
                                        else
                                          rate_sum = shop.reviews.pluck(:rate).sum
                                          rate_ave = (rate_sum / shop.reviews.length).floor(2)
                                        end %>
        </div>
      </div>

      <script>
        $('#average_shop_<%= shop.id %>').raty({
          // size: 20,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: '<%= if shop.reviews.length == 0
                        0
                      else
                        shop.reviews.pluck(:rate).sum / shop.reviews.length.floor(2)
                      end %>',
          });
      </script>

    </div>

    <div class="row justify-content-end mr-1">
      <span class="mt-2 d-none d-md-inline-block">定休日: <%= shop.dayoff %></span>
    </div>

    <%= link_to truncate(shop.description, length: 100, omission:"..."), shop, class: "shop_desc " %>
  </div>
</li>