<% provide(:title, 'マイページ') %>

<div class="row">
  <%= render "users/user_header" %>

  <% if @reviews.empty? %>
    <p class="m-5 h5">まだレビューを投稿していません</p>
  <% end %>

  <% @reviews.each do |review| %>
    <%= render partial: 'shared/review', locals: { user: @user, review: review }  %>
  <% end %>
    <p class="font-weight-bold h2 text-info"><%= @reviews.first.comments.first.user.name %></p>
    <p class="font-weight-bold h2 text-info"><%= @reviews.first.comments.first.content %></p>

</div>

  <%= will_paginate @reviews, list_classes: %w(pagination justify-content-center h3 mt-5), aria_label:  'Page Navigation' %>

